/* .board-container {
margin-left: auto;
margin-right: auto;
} */

body {
    background-color: black;
    color: white;
}

.info-box {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.info-box h2 {
    display: inline-block;
}

.lives-count {
    text-align: center;
    display: inline-block;
}

.info-box button {
    text-align: center;
    display: inline-block;
    margin-left: 2%;
}

table {
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
}

.timer {
    border: 2px solid black;
    height: fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.unrevealed {
    background: linear-gradient(to top, #f8f8f5, #a5a168, #695b08);
    cursor: pointer;
    color: black;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.5em;
}

.revealed {
    background: linear-gradient(to top, #a6dcf1, #3d6599, #091c72);
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.5em;
}